accelerate
black==24.4.2
blobfile
codeshield
fairscale
fastapi
fire
flake8
httpx
hydra-core
hydra-zen
json-strong-typing
pandas
Pillow
pre-commit
pydantic==1.10.13
pydantic_core==2.18.2
python-dotenv
setuptools
tiktoken
transformers
ufmt==2.7.0
usort==1.0.8
zmq
llama_models==0.0.2
llama_toolchain==0.0.2
llama_agentic_system==0.0.2